<footer class="site-footer">

  <h2>about</h2>

  <div>
    <p><strong>this</strong> is a weblog by <a href="{{ "/about/" | prepend: site.baseurl }}">andre torrez</a>.</strong> the archives are available by <a href="{{ "/categories/" | prepend: site.baseurl }}">category</a> and <a href="{{ "/archive/" | prepend: site.baseurl }}">month</a> if you're looking for something in particular. there's a bit more about this site on <a href="{{ "/about/" | prepend: site.baseurl }}">the about page</a>.</p>

    <p><strong>if you'd like to reply to something, do it on twitter:</strong> <a href="https://twitter.com/{{ site.twitter_username }}">@{{ site.twitter_username }}</a>. if you would like to follow this blog, you can do so with <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a> or follow <a href="https://twitter.com/{{ site.twitter_blog_username }}">@{{ site.twitter_blog_username }}</a> on twitter.</p>

    <p>this design adapted with permission from <a href="http://www.sippey.com/">michael sippey</a>.</p>
  </div>

</footer>
