.icon {
  display: inline-block;
  line-height: 1;
  vertical-align: -25%;
  width: $icon-width;
  height: $icon-width;

  svg {
    fill: currentColor;
    width: inherit;
    height: inherit;
  }
}

.category-icon {
  a {
    display: block;
    z-index: 2;
  }
}
