body {
  padding: $site-padding/2 $site-padding;
}

.site-container {
  margin: $gutter*2 auto;

  width: 100%;
  max-width: $content-max-width;
}

.site-content {
  @include clearfix;
}


// Columns

.column {
  @include breakpoint(full) {
    float: left;

    &.half {
      width: 49%;
    }

    &.half:nth-child(2n) {
      margin-left: 2%;
    }

    // Give half-columns after the first two some top margin so they don't butt
    // up against the columns above them.
    &.half + .half + .half {
      margin-top: $padding-normal * 0.75;
    }
  }
}
